<select (change)="onChange($event.target.value)">
  <option value="All Animals" selected="selected">All Animals</option>
  <option value="Young Animals">Young Animals</option>
  <option value="Mature Animals">Mature Animals</option>
</select>

<ul *ngFor="let currentAnimal of childAnimalList | ageist:filterByAge">
  <h3>{{currentAnimal.name}}</h3>
  <button (click)="editButtonClicked(currentAnimal)">Edit</button>
    <li>{{currentAnimal.species}}</li>
    <li>{{currentAnimal.age}} years old</li>
    <li>Likes: {{currentAnimal.like}}</li>
    <li>Dislikes: {{currentAnimal.dislike}}</li>
    <!-- <button (click)="sellPintButtonClicked(currentAnimal)">Sell A Pint</button> -->
</ul>
