<div *ngIf="childSelectedAnimal">
  <h3>Edit Info for: {{childSelectedAnimal.name}} the {{childSelectedAnimal.species}}</h3>
  <div class="form-group">
    <label>Edit Name</label>
    <input [(ngModel)]="childSelectedAnimal.name">
  </div>
  <div class="form-group">
    <label>Edit Age</label>
    <input [(ngModel)]="childSelectedAnimal.age">
  </div>
  <div class="form-group">
    <label>Edit Caretakers Needed</label>
    <input [(ngModel)]="childSelectedAnimal.caretakersNeeded">
    <button (click)="editCompleteButtonClicked()">Edit</button>
  </div>
</div>
