<div *ngIf="childSelectedAnimal" class="well">
  <h3>Edit Info for {{childSelectedAnimal.name}} the {{childSelectedAnimal.species}}</h3>
  <div class="flex-container">
    <div class="flex-item">
      <div class="form-group">
        <label>Name</label>
        <input [(ngModel)]="childSelectedAnimal.name">
      </div>
    </div>
    <div class="flex-item">
      <div class="form-group">
        <label>Age</label>
        <input [(ngModel)]="childSelectedAnimal.age">
      </div>
    </div>
    <div class="flex-item">
      <div class="form-group">
        <label>Caretakers</label>
        <input [(ngModel)]="childSelectedAnimal.caretakersNeeded">
      </div>
    </div>
    <div class="flex-item">
      <button (click)="editCompleteButtonClicked()" class="btn">Edit</button>
    </div>
  </div>
</div>
