<div class="align-center">
  <div *ngIf="childAddAnimal===false">
    <button (click)="addAnimalButtonClicked()" class="btn">Add New Animal</button>
  </div>
  <div *ngIf="childAddAnimal===true" class="well">
    <h2>New Animal</h2>
    <div class="flex-container">
      <div class="flex-item">
        <div class="form-group">
          <input #newSpecies placeholder="Species">
        </div>
      </div>
      <div class="flex-item">
        <div class="form-group">
          <input #newName placeholder="Name">
        </div>
      </div>
      <div class="flex-item">
        <div class="form-group">
          <input #newAge placeholder="Age">
        </div>
      </div>
      <div class="flex-item">
        <div class="form-group">
          <input #newDiet placeholder="Diet">
        </div>
      </div>
      <div class="flex-item">
        <div class="form-group">
          <input #newLocation placeholder="Location">
        </div>
      </div>
      <div class="flex-item">
        <div class="form-group">
          <input #newCaretakersNeeded placeholder="Caretakers">
        </div>
      </div>
      <div class="flex-item">
        <div class="form-group">
          <input #newSex placeholder="Sex">
        </div>
      </div>
      <div class="flex-item">
        <div class="form-group">
          <input #newLike placeholder="Like">
        </div>
      </div>
      <div class="flex-item">
        <div class="form-group">
          <input #newDislike placeholder="Dislike">
        </div>
      </div>
    </div>
    <button (click)="submitForm(newSpecies.value, newName.value, newAge.value, newDiet.value, newLocation.value, newCaretakersNeeded.value, newSex.value, newLike.value, newDislike.value)" class="btn">Add</button>
    <button (click)="cancelForm()" class="btn btn-danger">Cancel</button>
  </div>
</div>
